{% extends "layouts/layout_wide.html" %}

{% set mainClasses = 'govuk-!-padding-top-0' %}

{% set pageTitle = "Edit service information" %}
{% set serviceNav = "Services" %}

{% block content %}

  {% include "layouts/_pageheader.html" %}

  <div class="govuk-width-container">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


        {% if errors %}
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
              There is a problem
            </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% for error in errors %}
                  <li>
                    <a href="#{{ error.field }}">{{ error.message }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}

        <form action="/services/{{ service.id }}" method="post" novalidate>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          <input type="hidden" name="_method" value="PUT">

          <div class="govuk-form-group {% if fieldErrors.name %}govuk-form-group--error{% endif %}">
            <label class="govuk-label" for="name">
              Service name
            </label>
            {% if fieldErrors.name %}
              <span id="name-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                {{ fieldErrors.name }}
              </span>
            {% endif %}
            <input class="govuk-input {% if fieldErrors.name %}govuk-input--error{% endif %}" id="name" name="name" type="text" value="{{ values.name or service.name }}" required>
          </div>

          <div class="govuk-form-group {% if fieldErrors.url %}govuk-form-group--error{% endif %}">
            <label class="govuk-label" for="url">
              Service URL
            </label>
            {% if fieldErrors.url %}
              <span id="url-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                {{ fieldErrors.url }}
              </span>
            {% endif %}
            <input class="govuk-input {% if fieldErrors.url %}govuk-input--error{% endif %}" id="url" name="url" type="url" value="{{ values.url or service.url }}" required
              pattern="https?://.+">
          </div>

          <div class="govuk-form-group {% if fieldErrors.service_owner_id %}govuk-form-group--error{% endif %}">
            <label class="govuk-label" for="service_owner_id">
              Service owner
            </label>
            {% if fieldErrors.service_owner_id %}
              <span id="service_owner_id-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                {{ fieldErrors.service_owner_id }}
              </span>
            {% endif %}
            <select class="govuk-select {% if fieldErrors.service_owner_id %}govuk-select--error{% endif %}" id="service_owner_id" name="service_owner_id" required>
              <option value="">Select a service owner</option>
              {% for user in departmentUsers %}
                <option value="{{ user.id }}" {% if (values.service_owner_id or service.service_owner_id) == user.id %}selected{% endif %}>
                  {{ user.first_name }} {{ user.last_name }} ({{ user.email }})
                </option>
              {% endfor %}
            </select>
          </div>

          <div class="govuk-form-group {% if fieldErrors.business_area_id %}govuk-form-group--error{% endif %}">
            <label class="govuk-label" for="business_area_id">
              Business area
            </label>
            {% if fieldErrors.business_area_id %}
              <span id="business_area_id-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span>
                {{ fieldErrors.business_area_id }}
              </span>
            {% endif %}
            <select class="govuk-select {% if fieldErrors.business_area_id %}govuk-select--error{% endif %}" id="business_area_id" name="business_area_id">
              <option value="">Select a business area</option>
              {% for area in businessAreas %}
                <option value="{{ area.id }}" {% if (values.business_area_id or service.business_area_id) == area.id %}selected{% endif %}>
                  {{ area.name }}
                </option>
              {% endfor %}
            </select>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="repositories">
              External repositories
            </label>
            <div id="repositories-container">
              {% for repo in (values.repositories or service.repositories or []) %}
                <div class="govuk-form-group repository-group">
                  <div class="govuk-grid-row">
                    <div class="govuk-grid-column-one-half">
                      <label class="govuk-label" for="repository-type-{{ loop.index }}">
                        Repository type
                      </label>
                      <select class="govuk-select" id="repository-type-{{ loop.index }}" name="repositories[{{ loop.index }}][type]">
                        <option value="github" {% if repo.type == 'GitHub' %}selected{% endif %}>GitHub</option>
                        <option value="gitlab" {% if repo.type == 'Azure' %}selected{% endif %}>Azure</option>
                      </select>
                    </div>
                    <div class="govuk-grid-column-one-half">
                      <label class="govuk-label" for="repository-url-{{ loop.index }}">
                        Repository URL
                      </label>
                      <input class="govuk-input" id="repository-url-{{ loop.index }}" name="repositories[{{ loop.index }}][url]" type="url" value="{{ repo.url }}" pattern="https?://.+">
                    </div>
                  </div>
                  <button type="button" class="govuk-button govuk-button--secondary govuk-!-margin-top-2 remove-repository" data-index="{{ loop.index }}">
                    Remove repository
                  </button>
                </div>
              {% endfor %}
            </div>
            <button type="button" class="govuk-button govuk-button--secondary govuk-!-margin-top-2" id="add-repository">
              Add another repository
            </button>
          </div>

          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Save changes
            </button>
            <a href="/services/{{ service.id }}" class="govuk-link">
              Cancel
            </a>
          </div>
        </form>
      </div>
    </div>
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const repositoriesContainer = document.getElementById('repositories-container');
      const addRepositoryButton = document.getElementById('add-repository');
      let repositoryCount = {{ (values.repositories or service.repositories or [])|length }};

      function createRepositoryFields(index) {
        const group = document.createElement('div');
        group.className = 'govuk-form-group repository-group';
        group.innerHTML = `
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-half">
              <label class="govuk-label" for="repository-type-${index}">
                Repository type
              </label>
              <select class="govuk-select" id="repository-type-${index}" name="repositories[${index}][type]">
                <option value="GitHub">GitHub</option>
                <option value="Azure">Azure</option>
              </select>
            </div>
            <div class="govuk-grid-column-one-half">
              <label class="govuk-label" for="repository-url-${index}">
                Repository URL
              </label>
              <input class="govuk-input" id="repository-url-${index}" name="repositories[${index}][url]" type="url" pattern="https?://.+">
            </div>
          </div>
          <button type="button" class="govuk-button govuk-button--secondary govuk-!-margin-top-2 remove-repository" data-index="${index}">
            Remove repository
          </button>
        `;
        return group;
      }

      addRepositoryButton.addEventListener('click', function() {
        repositoryCount++;
        const newFields = createRepositoryFields(repositoryCount);
        repositoriesContainer.appendChild(newFields);
      });

      repositoriesContainer.addEventListener('click', function(e) {
        if (e.target.classList.contains('remove-repository')) {
          const index = e.target.dataset.index;
          const group = e.target.closest('.repository-group');
          group.remove();
        }
      });
    });
  </script>

{% endblock %} 