{% extends "layouts/layout_wide.html" %}

{% set pageTitle = "Settings" %}
{% set serviceNav = "Settings" %}

{% set verticalNav = "Business areas" %}
{% set mainClasses = 'govuk-!-padding-top-0' %}

{% block content %}

  {% include "layouts/_pageheader.html" %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">

      <div class="govuk-grid-column-one-quarter">
        <nav class="dfe-vertical-nav govuk-!-margin-top-0">
          <ul class="dfe-vertical-nav__section">
            <li class="dfe-vertical-nav__section-item {% if verticalNav === 'Department information' %}dfe-vertical-nav__section-item--current{% endif %}">
              <a class="dfe-vertical-nav__link" href="/settings">Department information</a>
            </li>
            <li class="dfe-vertical-nav__section-item {% if verticalNav === 'Business areas' %}dfe-vertical-nav__section-item--current{% endif %}">
              <a class="dfe-vertical-nav__link" href="/settings/business-areas">Business areas</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="govuk-grid-column-three-quarters">

        <h2 class="govuk-heading-l">Manage business areas</h2>

        {% if successMessage %}
          <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
            <div class="govuk-notification-banner__header">
              <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Success
            </h2>
            </div>
            <div class="govuk-notification-banner__content">
              <p class="govuk-notification-banner__heading">
                {{ successMessage }}
              </p>
            </div>
          </div>
        {% endif %}

        {% if errorMessage %}
          <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
            <h2 class="govuk-error-summary__title" id="error-summary-title">
            There is a problem
          </h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  {{ errorMessage }}
                </li>
              </ul>
            </div>
          </div>
        {% endif %}

        <p class="govuk-body">
        Business areas help you organise your services. You can assign a business area to each service.
      </p>
        <p class="govuk-body">
          <a href="/department-admin/business-areas/new" class="govuk-link govuk-link--no-visited-state">Add a business area</a>
        </p>

        {% if businessAreas.length > 0 %}
          <div class="govuk-table__container">
            <table class="govuk-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">Name</th>
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Manage</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {% for area in businessAreas %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">{{ area.name }}</td>
                    <td class="govuk-table__cell">
                      <div class="govuk-button-group govuk-!-margin-bottom-0">
                        <a href="/department-admin/business-areas/{{ area.id }}/edit" class="govuk-link govuk-!-margin-bottom-0">Edit <span class="govuk-visually-hidden">
                            {{ area.name }}</span></a>
                      </div>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        {% else %}
          <p class="govuk-body">No business areas have been created yet.</p>
        {% endif %}
      </div>
    </div>
  </div>

    {% endblock %}