<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <div class="app-service-header">
            <div class="govuk-width-container">
                <div class="govuk-grid-row">
                    <div class="govuk-grid-column-full">
                        <span class="govuk-caption-m govuk-!-margin-bottom-0">{{ service.department_name }}</span>
                        <h1 class="govuk-heading-l govuk-!-margin-bottom-2">{{ service.name }}</h1>

                        <table class="govuk-table  compact-table govuk-!-margin-bottom-5">
                            <thead class="govuk-table__head">
                                <tr class="govuk-table__row">
                                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Service URL</th>
                                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Service owner</th>
                                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Business area</th>
                                </tr>
                            </thead>
                            <tbody class="govuk-table__body">
                                <tr class="govuk-table__row">
                                    <td class="govuk-table__cell">
                                        <a href="{{ service.url }}" class="govuk-link govuk-link--no-visited-state">{{ service.url }}</a>
                                    </td>
                                    <td class="govuk-table__cell">{{ service.owner_first_name }}
                                        {{ service.owner_last_name }} - <a href="/services/{{ service.id }}/edit" class="govuk-link govuk-link--no-visited-state">Change</a>
                                    </td>

                                    <td class="govuk-table__cell">{{ service.business_area_name }} - <a href="/services/{{ service.id }}/edit" class="govuk-link govuk-link--no-visited-state">Change</a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="app-service-nav">
            <div class="govuk-service-navigation govuk-service-navigation--white" data-module="govuk-service-navigation">
                <div class="govuk-width-container">
                    <div class="govuk-service-navigation__container">
                        <nav aria-label="Menu" class="govuk-service-navigation__wrapper">
                            <button type="button" class="govuk-service-navigation__toggle govuk-js-service-navigation-toggle"
                aria-controls="navigation" hidden>
                Menu
              </button>
                            <ul
                class="govuk-service-navigation__list"
                id="navigation">
                                <li class="govuk-service-navigation__item {% if subnav == 'service' %}govuk-service-navigation__item--active{% endif %}">
                                    <a class="govuk-service-navigation__link" href="/services/{{ service.id }}">
                    Service details
                  </a>
                                </li>

                                <li
                  class="govuk-service-navigation__item {% if  subnav == 'issues' %}govuk-service-navigation__item--active{% endif %}">
                                    <a class="govuk-service-navigation__link" href="/services/{{ service.id }}/issues" aria-current="true">
                                        <strong class="govuk-service-navigation__active-fallback">Issues</strong>
                                    </a>
                                </li>

                                <li
                  class="govuk-service-navigation__item {% if subnav == 'reporting' %}govuk-service-navigation__item--active{% endif %}">
                                    <a class="govuk-service-navigation__link" href="/services/{{ service.id }}/reporting">
                    Reporting
                  </a>
                                </li>

                                <li
                  class="govuk-service-navigation__item {% if subnav == 'statement' %}govuk-service-navigation__item--active{% endif %}">
                                    <a class="govuk-service-navigation__link" href="/services/{{ service.id }}/statement">
                    Statement
                  </a>
                                </li>
                                <li
                  class="govuk-service-navigation__item {% if subnav == 'settings' %}govuk-service-navigation__item--active{% endif %}">
                                    <a class="govuk-service-navigation__link" href="/services/{{ service.id }}/settings">
                    Statement settings
                  </a>
                                </li>
                                <li
                  class="govuk-service-navigation__item {% if subnav == 'service-settings' %}govuk-service-navigation__item--active{% endif %}">
                                    <a class="govuk-service-navigation__link" href="/services/{{ service.id }}/edit">
                    Service settings
                  </a>
                                </li>

                              
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

