{% extends "layouts/layout_wide.html" %}

{% set pageTitle = "Services" %}
{% set serviceNav = "Services" %}
{% set mainClasses = 'govuk-!-padding-top-0' %}

{# Calculate total open issues #}
{% set total_open_issues = 0 %}
{% for service in services %}
  {% set total_open_issues = total_open_issues + (service.open_issues_count if service.open_issues_count != undefined else 
    0
  ) %}
{% endfor %}

{% block head %}

{% endblock %}

{% block content %}

{% include "layouts/_pageheader.html" %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">
     Services
    </h2>
            <ul class="govuk-summary-card__actions">
              <li class="govuk-summary-card__action">
                <a class="govuk-link govuk-link--no-visited-state" href="/services/new">Add service</a>
              </li>
            </ul>
          </div>
          <div class="govuk-summary-card__content">

            <table class="govuk-table compact-table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th scope="col" class="govuk-table__header govuk-!-width-one-third">Service name</th>
                  <th scope="col" class="govuk-table__header">Business area</th>
                  <th scope="col" class="govuk-table__header">Open issues</th>
                  <th scope="col" class="govuk-table__header">Owner</th>
                  <th scope="col" class="govuk-table__header">Statement service</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body">
                {% for service in services %}
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header">
                      <a href="/services/{{ service.id }}" class="govuk-link govuk-link--no-visited-state">
                       {{ service.name }}
                      </a>
                    </th>
                    <td class="govuk-table__cell">
                      {{ service.business_area_name }}
                    </td>
                    <td class="govuk-table__cell">
                      {{ service.open_issues_count if service.open_issues_count != undefined else 0 }}
                    </td>
                    <td class="govuk-table__cell">
                      {% if service.owner_email %}
                        <a href="mailto:{{ service.owner_email }}" class="govuk-link govuk-link--no-visited-state">
                          {{ service.owner_first_name }}
                          {{ service.owner_last_name }}
                        </a>
                      {% else %}
                        <strong class="govuk-tag govuk-tag--grey">Not assigned</strong>
                      {% endif %}
                    </td>
                    <td class="govuk-table__cell">
                      {% if service.statement_enrolled %}
                        <strong class="govuk-tag govuk-tag--green">Enrolled</strong>
                      {% else %}
                        <strong class="govuk-tag govuk-tag--red">Not enrolled</strong>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

          </div>
        </div>

      </div>
    </div>
  </div>

{% endblock %}