{% extends "layouts/layout_wide.html" %}

{% set serviceNav = "Services" %}

{% set subnav = 'service' %}

{% set pageTitle = service.name %}
{% set mainClasses = 'govuk-!-padding-top-0' %}



{# Filter and sort issues #}

{% block content %}

{% include "services/department_admin/_subnav.html" %}

<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p class="govuk-body">We're working on this page.</p>
      <p class="govuk-body">Give us feedback about what you'd like to see. You can use the Give feedback option at the bottom of the page.</p>
     
    </div>
  </div>
</div>


{% endblock %}