{% extends "layouts/layout_wide.html" %}

{% set pageTitle = "Issues by WCAG Criteria" %}
{% set serviceNav = "Issues" %}

{% set mainClasses = 'govuk-!-padding-top-0' %}

{% block content %}

  {% include "layouts/_pageheader.html" %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">

        <span class="govuk-caption-m">Issues for WCAG criteria</span>
        <h2 class="govuk-heading-m">{{ wcagCriteria.criterion }} - {{ wcagCriteria.title }} ({{ wcagCriteria.level }})</h2>

        <p class="govuk-body">{{ wcagCriteria.description }}</p>

        {% if issues.length > 0 %}
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Issue</th>
                <th scope="col" class="govuk-table__header">Service</th>
                <th scope="col" class="govuk-table__header">Created</th>
                <th scope="col" class="govuk-table__header">Resolving</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for issue in issues %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    <a href="/services/{{ issue.service_id }}/issues/{{ issue.id }}" class="govuk-link">{{ issue | dump }}</a>
                   
                  </td>
                  <td class="govuk-table__cell"><a href="/services/{{ issue.service_id }}" class="govuk-link">{{ issue.service_name }}</a></td>
               
                
                  <td class="govuk-table__cell">{{ issue.created_at | date("D MMM YYYY") }}</td>
                  <td class="govuk-table__cell">
                    {% if issue.planned_fix %}
                      <strong class="govuk-tag govuk-tag--green">Yes</strong>
                    {% else %}
                      <strong class="govuk-tag govuk-tag--red">No</strong>
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p class="govuk-body">No issues found for this WCAG criterion.</p>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}