{% extends "layouts/layout_wide.html" %}

{% set pageTitle = "Issues" %}
{% set serviceNav = "Issues" %}

{% set mainClasses = 'govuk-!-padding-top-0' %}

{% block content %}

  {% include "layouts/_pageheader.html" %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        
              <div class="moj-filter" data-module="moj-filter">
          <div class="moj-filter__header">
            <h2 class="moj-filter__header-title">
              Filter
            </h2>
          </div>

          <div class="moj-filter__content">
            <div class="moj-filter__selected">
              <div class="moj-filter__selected-heading">
                <p class="moj-filter__heading-title govuk-!-padding-top-1">
                  Selected filters
                </p>
                <div class="moj-filter__heading-action">
                  <p class="govuk-body-s">
                    <a class="govuk-link govuk-link--no-visited-state" href="?">Clear filters</a>
                  </p>
                </div>
              </div>

              {% if filters.wcag_level %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">WCAG Level</h3>
                <ul class="moj-filter-tags">
                  <li><a class="moj-filter__tag" href="?{{ filters | removeFilter('wcag_level') }}"><span class="govuk-visually-hidden">Remove this filter</span> {{ filters.wcag_level }}</a></li>
                </ul>
              {% endif %}

              {% if filters.service_id %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Service</h3>
                <ul class="moj-filter-tags">
                  <li><a class="moj-filter__tag" href="?{{ filters | removeFilter('service_id') }}"><span class="govuk-visually-hidden">Remove this filter</span> {{ services | findServiceName(filters.service_id) }}</a></li>
                </ul>
              {% endif %}

              {% if filters.planned_fix !== '' %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Planned Fix</h3>
                <ul class="moj-filter-tags">
                  <li><a class="moj-filter__tag" href="?{{ filters | removeFilter('planned_fix') }}"><span class="govuk-visually-hidden">Remove this filter</span>{% if filters.planned_fix == 'true' %}Yes{% else %}No{% endif %}</a></li>
                </ul>
              {% endif %}

              {% if filters.planned_fix_date %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Planned Fix Date</h3>
                <ul class="moj-filter-tags">
                  <li><a class="moj-filter__tag" href="?{{ filters | removeFilter('planned_fix_date') }}"><span class="govuk-visually-hidden">Remove this filter</span> {{ filters.planned_fix_date | formatDateFilter }}</a></li>
                </ul>
              {% endif %}

              {% if filters.search %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Search</h3>
                <ul class="moj-filter-tags">
                  <li><a class="moj-filter__tag" href="?{{ filters | removeFilter('search') }}"><span class="govuk-visually-hidden">Remove this filter</span> {{ filters.search }}</a></li>
                </ul>
              {% endif %}
            </div>

            <div class="moj-filter__options">
              <form method="get" action="">
                <div class="govuk-form-group govuk-!-margin-bottom-2">
                  <div class="moj-filter-layout__content">
                    <button type="button" class="dfe-filter-collapsible-button moj-filter-toggle" aria-expanded="false" aria-controls="search-filter">
                      <svg class="moj-filter-toggle__icon" viewBox="0 0 20 20" height="10" width="10">
                        <path d="M0 0 L10 10 L20 0"></path>
                      </svg>
                      Keywords
                    </button>
                    <div id="search-filter" hidden>
                      <label class="govuk-label" for="search">
                        Search issues
                      </label>
                      <input class="govuk-input" id="search" name="search" type="text" value="{{ filters.search }}">
                    </div>
                  </div>
                </div>

                <div class="govuk-form-group govuk-!-margin-bottom-2">
                  <div class="moj-filter-layout__content">
                    <button type="button" class="dfe-filter-collapsible-button moj-filter-toggle" aria-expanded="false" aria-controls="wcag-level-filter">
                      <svg class="moj-filter-toggle__icon" viewBox="0 0 20 20" height="10" width="10">
                        <path d="M0 0 L10 10 L20 0"></path>
                      </svg>
                      WCAG Level
                    </button>
                    {% if filters.wcag_level %}
                      <span class="moj-filter-toggle__count">1 selected</span>
                    {% endif %}
                    <div id="wcag-level-filter" hidden>
                      <div class="govuk-checkboxes govuk-checkboxes--small">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="wcag_level_a" name="wcag_level" type="checkbox" value="A" {% if filters.wcag_level == "A" %}checked{% endif %}>
                          <label class="govuk-label govuk-checkboxes__label" for="wcag_level_a">
                            A
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="wcag_level_aa" name="wcag_level" type="checkbox" value="AA" {% if filters.wcag_level == "AA" %}checked{% endif %}>
                          <label class="govuk-label govuk-checkboxes__label" for="wcag_level_aa">
                            AA
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="wcag_level_aaa" name="wcag_level" type="checkbox" value="AAA" {% if filters.wcag_level == "AAA" %}checked{% endif %}>
                          <label class="govuk-label govuk-checkboxes__label" for="wcag_level_aaa">
                            AAA
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="wcag_level_bp" name="wcag_level" type="checkbox" value="BP" {% if filters.wcag_level == "BP" %}checked{% endif %}>
                          <label class="govuk-label govuk-checkboxes__label" for="wcag_level_bp">
                            Best Practice
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="govuk-form-group govuk-!-margin-bottom-2">
                  <div class="moj-filter-layout__content">
                    <button type="button" class="dfe-filter-collapsible-button moj-filter-toggle" aria-expanded="false" aria-controls="service-filter">
                      <svg class="moj-filter-toggle__icon" viewBox="0 0 20 20" height="10" width="10">
                        <path d="M0 0 L10 10 L20 0"></path>
                      </svg>
                      Service
                    </button>
                    {% if filters.service_id %}
                      <span class="moj-filter-toggle__count">1 selected</span>
                    {% endif %}
                    <div id="service-filter" hidden>
                      <div class="govuk-checkboxes govuk-checkboxes--small" style="max-height: 200px; overflow-y: auto; overflow-x: hidden;">
                        {% for service in services %}
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="service_{{ service.id }}" name="service_id" type="checkbox" value="{{ service.id }}" {% if filters.service_id == service.id %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="service_{{ service.id }}">
                              {{ service.name }}
                            </label>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="govuk-form-group govuk-!-margin-bottom-2">
                  <div class="moj-filter-layout__content">
                    <button type="button" class="dfe-filter-collapsible-button moj-filter-toggle" aria-expanded="false" aria-controls="planned-fix-filter">
                      <svg class="moj-filter-toggle__icon" viewBox="0 0 20 20" height="10" width="10">
                        <path d="M0 0 L10 10 L20 0"></path>
                      </svg>
                      Planned Fix
                    </button>
                    {% if filters.planned_fix !== '' %}
                      <span class="moj-filter-toggle__count">1 selected</span>
                    {% endif %}
                    <div id="planned-fix-filter" hidden>
                      <select class="govuk-select" id="planned_fix" name="planned_fix">
                        <option value="" {% if filters.planned_fix == "" %}selected{% endif %}>All</option>
                        <option value="true" {% if filters.planned_fix == "true" %}selected{% endif %}>Yes</option>
                        <option value="false" {% if filters.planned_fix == "false" %}selected{% endif %}>No</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="govuk-form-group govuk-!-margin-bottom-2">
                  <div class="moj-filter-layout__content">
                    <button type="button" class="dfe-filter-collapsible-button moj-filter-toggle" aria-expanded="false" aria-controls="planned-fix-date-filter">
                      <svg class="moj-filter-toggle__icon" viewBox="0 0 20 20" height="10" width="10">
                        <path d="M0 0 L10 10 L20 0"></path>
                      </svg>
                      Planned Fix Date
                    </button>
                    {% if filters.planned_fix_date %}
                      <span class="moj-filter-toggle__count">1 selected</span>
                    {% endif %}
                    <div id="planned-fix-date-filter" hidden>
                      <select class="govuk-select" id="planned_fix_date" name="planned_fix_date">
                        <option value="" {% if filters.planned_fix_date == "" %}selected{% endif %}>All dates</option>
                        <option value="overdue" {% if filters.planned_fix_date == "overdue" %}selected{% endif %}>Overdue</option>
                        <option value="next_month" {% if filters.planned_fix_date == "next_month" %}selected{% endif %}>Next month</option>
                        <option value="next_3_months" {% if filters.planned_fix_date == "next_3_months" %}selected{% endif %}>Next 3 months</option>
                        <option value="next_6_months" {% if filters.planned_fix_date == "next_6_months" %}selected{% endif %}>Next 6 months</option>
                      </select>
                    </div>
                  </div>
                </div>

                <div class="govuk-form-group govuk-!-margin-top-2">
                  <div class="moj-filter__footer">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
                      Apply filters
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>

      <div class="govuk-grid-column-three-quarters">


  <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Issues</h2>
                 <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="/issues/closed">Closed issues</a>
      </li>
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="/issues/overdue">Overdue issues</a>
      </li>
    </ul>
          </div>
          <div class="govuk-summary-card__content">
            {% if issues.length > 0 %}
              <table class="govuk-table compact-table" id="issues-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Title</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Service</th>
                    <th scope="col" class="govuk-table__header">Issue types</th>
                    <th scope="col" class="govuk-table__header">Priority</th>
                    <th scope="col" class="govuk-table__header">Fixing</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  {% for issue in issues %}
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header">
                        <a href="/services/{{ issue.service_id }}/issues/{{ issue.id }}" class="govuk-link govuk-link--no-visited-state">{{ issue.title }}</a>
                      </th>
                      <td class="govuk-table__cell">
                        <a href="/services/{{ issue.service_id }}" class="govuk-link govuk-link--no-visited-state">{{ issue.service_name }}</a>
                      </td>
                      <td class="govuk-table__cell">
                        {% for type in issue.types %}
                          {% if type == 'wcag' %}
                            <div class="govuk-!-margin-bottom-1">
                              WCAG{% if issue.wcag_criteria.length > 0 %} - {{ issue.wcag_criteria.length }} criteria{% endif %}
                            </div>
                            {% if issue.types.length > 1 %}
                              <div class="govuk-!-margin-bottom-1">
                                {{ issue.types.length - 1 }} other type{% if issue.types.length > 2 %}s{% endif %}
                              </div>
                            {% endif %}
                          {% elif type == 'best_practice' and not issue.types.includes('wcag') %}
                            <div class="govuk-!-margin-bottom-1">
                              Best Practice
                            </div>
                          {% elif type == 'usability' and not issue.types.includes('wcag') %}
                            <div class="govuk-!-margin-bottom-1">
                              Usability
                            </div>
                          {% elif not issue.types.includes('wcag') %}
                            <div class="govuk-!-margin-bottom-1">
                              Not Known
                            </div>
                          {% endif %}
                        {% endfor %}
                      </td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--{% if issue.risk_level == 'high' %}red{% elif issue.risk_level == 'high_medium' %}orange{% elif issue.risk_level == 'medium' %}yellow{% else %}green{% endif %}">
                          {{ issue.risk_level | replace('_', ' ') | title }}
                        </strong>
                      </td>
                      <td class="govuk-table__cell">
                        {% if issue.planned_fix %}
                          <strong class="govuk-tag govuk-tag--green">Yes</strong>
                        
                        {% else %}
                          <strong class="govuk-tag govuk-tag--red">No</strong>
                        
                        {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <p class="govuk-body">No issues found for the selected filters</p>
            {% endif %}

            {% if pagination.totalPages > 1 %}
            <nav class="govuk-pagination" role="navigation" aria-label="results">
              {% if pagination.page > 1 %}
              <div class="govuk-pagination__prev">
                <a class="govuk-link govuk-pagination__link" href="{{ '/issues' | updateQueryParams({ page: pagination.page - 1 }) }}" rel="prev">
                  <svg class="govuk-pagination__icon govuk-pagination__icon--prev" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m6.5938-0.0078125-6.7266 6.7266 6.7266 6.7266 1.4062-1.4062-5.3203-5.3203h9.1406v-2h-9.1406l5.3203-5.3203z"></path>
                  </svg>
                  <span class="govuk-pagination__link-title">Previous</span>
                </a>
              </div>
              {% endif %}
              <ul class="govuk-pagination__list">
                {% for i in range(1, pagination.totalPages + 1) %}
                <li class="govuk-pagination__item {% if i == pagination.page %}govuk-pagination__item--current{% endif %}">
                  <a class="govuk-link govuk-pagination__link" href="{{ '/issues' | updateQueryParams({ page: i }) }}" aria-label="Page {{ i }}" {% if i == pagination.page %}aria-current="page"{% endif %}>
                    {{ i }}
                  </a>
                </li>
                {% endfor %}
              </ul>
              {% if pagination.page < pagination.totalPages %}
              <div class="govuk-pagination__next">
                <a class="govuk-link govuk-pagination__link" href="{{ '/issues' | updateQueryParams({ page: pagination.page + 1 }) }}" rel="next">
                  <span class="govuk-pagination__link-title">Next</span>
                  <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
                    <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                  </svg>
                </a>
              </div>
              {% endif %}
            </nav>
            {% endif %}
          </div>
      </div>
    </div>
  </div>

  {# Service URL Modal #}
  <div class="govuk-modal-overlay" id="service-url-modal" style="display: none;" role="dialog"
    aria-labelledby="service-url-modal-title" aria-describedby="service-url-modal-description" aria-modal="true" tabindex="-1">
    <div class="govuk-modal">
      <div class="govuk-modal__header">
        <h2 class="govuk-modal__title" id="service-url-modal-title">Service URL</h2>
        <button class="govuk-modal__close" aria-label="Close modal" onclick="closeServiceUrlModal()">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="govuk-modal__content">
        <div id="service-url-modal-description">
          <p class="govuk-body" id="service-url-content"></p>
          <div class="govuk-button-group">
            <a href="#" id="service-url-link" class="govuk-button" target="_blank" rel="noopener noreferrer">Visit service</a>
            <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button" onclick="closeServiceUrlModal()">
              Close
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .service-url-button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: 8px;
      color: #505A5F;
      text-decoration: none;
      min-width: 22px;
      min-height: 22px;
      width: 22px;
      height: 22px;
      vertical-align: middle;
      position: relative;
      top: -1px;
    }

    .service-url-button:hover {
      color: #0b0c0c;
    }

    .service-url-button:focus {
      outline: 3px solid #ffdd00;
      outline-offset: 0;
      background-color: #ffdd00;
      color: #0b0c0c;
    }

    .service-url-button::after {
      content: attr(data-tooltip);
      position: absolute;
      bottom: -30px;
      left: 50%;
      transform: translateX(-50%);
      background: #0b0c0c;
      color: white;
      padding: 5px 10px;
      border-radius: 3px;
      font-size: 14px;
      white-space: nowrap;
      opacity: 0;
      transition: opacity 0.2s;
      pointer-events: none;
      z-index: 100;
    }

    .service-url-button:hover::after {
      opacity: 1;
    }

    .service-url-icon {
      vertical-align: middle;
      margin: 0;
      position: relative;
      top: 1px;
    }

    .moj-filter-toggle {
      background: none;
      border: 0;
      color: #1d70b8;
      cursor: pointer;
      margin-bottom: 10px;
      padding: 0;
      position: relative;
      text-align: left;
      width: 100%;
      font-family: inherit;
      display: flex;
      align-items: center;
    }

    .moj-filter-toggle:hover {
      color: #003078;
    }

    .moj-filter-toggle:focus {
      outline: 3px solid transparent;
      color: #0b0c0c;
      background-color: #ffdd00;
      box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
      text-decoration: none;
    }

    .moj-filter-toggle__icon {
      margin-right: 10px;
      vertical-align: middle;
      transition: transform 0.3s ease;
    }

    .moj-filter-toggle[aria-expanded="false"] .moj-filter-toggle__icon {
      transform: rotate(-90deg);
    }

    .moj-filter-toggle__count {
      color: #505a5f;
      font-size: 16px;
      margin-left: 4px;
      display: block;
      margin-top: -5px;
      margin-bottom: 10px;
    }

    .moj-filter-layout__content {
      padding: 0;
    }

    .moj-filter-layout__content > div {
      margin-left: 15px;
    }

    [hidden] {
      display: none;
    }

    .dfe-filter-collapsible-button {
      margin-bottom: 16px;
      font-weight: normal;
      font-size: 1.188rem
    }
  </style>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const searchInput = document.getElementById('search');
      const table = document.getElementById('issues-table');
      const rows = table.getElementsByTagName('tr');

      searchInput.addEventListener('input', function() {
        const searchTerm = this.value.toLowerCase();
        
        for (let i = 1; i < rows.length; i++) {
          const row = rows[i];
          const cells = row.getElementsByTagName('td');
          let found = false;
          
          for (let j = 0; j < cells.length; j++) {
            const cell = cells[j];
            if (cell.textContent.toLowerCase().indexOf(searchTerm) > -1) {
              found = true;
              break;
            }
          }
          
          row.style.display = found ? '' : 'none';
        }
      });
    });

    function openServiceUrlModal(url) {
      previousActiveElement = document.activeElement;
      const button = previousActiveElement;
      button.setAttribute('aria-expanded', 'true');

      const modal = document.getElementById('service-url-modal');
      const body = document.body;
      const urlContent = document.getElementById('service-url-content');
      const urlLink = document.getElementById('service-url-link');

      // Set the URL content and link
      urlContent.textContent = url;
      urlLink.href = url;

      modal.style.display = 'flex';
      body.classList.add('modal-open');

      modal.focus();
      trapFocus(modal);
    }

    function closeServiceUrlModal() {
      const modal = document.getElementById('service-url-modal');
      const body = document.body;
      const button = document.querySelector('.service-url-button');
      
      if (button) {
        button.setAttribute('aria-expanded', 'false');
      }

      modal.style.display = 'none';
      body.classList.remove('modal-open');

      if (previousActiveElement) {
        previousActiveElement.focus();
      }
    }

    // Add event listener for service URL modal
    document.addEventListener('click', function (event) {
      const serviceUrlModal = document.querySelector('#service-url-modal .govuk-modal');
      const serviceUrlOverlay = document.getElementById('service-url-modal');

      if (event.target === serviceUrlOverlay && serviceUrlModal && !serviceUrlModal.contains(event.target)) {
        closeServiceUrlModal();
      }
    });

    document.addEventListener('keydown', function (event) {
      if (event.key === 'Escape' && document.getElementById('service-url-modal').style.display === 'flex') {
        closeServiceUrlModal();
      }
    });

    document.addEventListener('DOMContentLoaded', function () {
      document
        .querySelectorAll('.moj-filter-toggle')
        .forEach(toggle => {
          const content = document.getElementById(toggle.getAttribute('aria-controls'));

          toggle.addEventListener('click', function () {
            const expanded = this.getAttribute('aria-expanded') === 'true';
            this.setAttribute('aria-expanded', !expanded);
            content.hidden = expanded;
          });
        });

      document.addEventListener('keydown', function (e) {
        if (e.key === 'Escape') {
          document
            .querySelectorAll('.moj-filter-toggle')
            .forEach(toggle => {
              toggle.setAttribute('aria-expanded', 'false');
              document
                .getElementById(toggle.getAttribute('aria-controls'))
                .hidden = true;
            });
        }
      });
    });
  </script>
{% endblock %}