{% extends "layouts/layout_wide.html" %}

{% set pageTitle = "Overdue issues" %}
{% set serviceNav = "Issues" %}

{% set mainClasses = 'govuk-!-padding-top-0' %}

{% block content %}

  {% include "layouts/_pageheader.html" %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
        
        <div class="moj-filter" data-module="moj-filter">
          <div class="moj-filter__header">
            <h2 class="moj-filter__header-title">
              Filter
            </h2>
          </div>

          <div class="moj-filter__content">
            <div class="moj-filter__selected">
              <div class="moj-filter__selected-heading">
                <p class="moj-filter__heading-title govuk-!-padding-top-1">
                  Selected filters
                </p>
                <div class="moj-filter__heading-action">
                  <p class="govuk-body-s">
                    <a class="govuk-link govuk-link--no-visited-state" href="?">Clear filters</a>
                  </p>
                </div>
              </div>

              {% if filters.wcag_level %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">WCAG Level</h3>
                <ul class="moj-filter-tags">
                  <li><a class="moj-filter__tag" href="?{{ filters | removeFilter('wcag_level') }}"><span class="govuk-visually-hidden">Remove this filter</span> {{ filters.wcag_level }}</a></li>
                </ul>
              {% endif %}

              {% if filters.service_id %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Service</h3>
                <ul class="moj-filter-tags">
                  <li><a class="moj-filter__tag" href="?{{ filters | removeFilter('service_id') }}"><span class="govuk-visually-hidden">Remove this filter</span> {{ services | findServiceName(filters.service_id) }}</a></li>
                </ul>
              {% endif %}

              {% if filters.search %}
                <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Search</h3>
                <ul class="moj-filter-tags">
                  <li><a class="moj-filter__tag" href="?{{ filters | removeFilter('search') }}"><span class="govuk-visually-hidden">Remove this filter</span> {{ filters.search }}</a></li>
                </ul>
              {% endif %}
            </div>

            <div class="moj-filter__options">
              <form method="get" action="">
                <div class="govuk-form-group govuk-!-margin-bottom-2">
                  <div class="moj-filter-layout__content">
                    <button type="button" class="dfe-filter-collapsible-button moj-filter-toggle" aria-expanded="false" aria-controls="search-filter">
                      <svg class="moj-filter-toggle__icon" viewBox="0 0 20 20" height="10" width="10">
                        <path d="M0 0 L10 10 L20 0"></path>
                      </svg>
                      Keywords
                    </button>
                    <div id="search-filter" hidden>
                      <label class="govuk-label" for="search">
                        Search issues
                      </label>
                      <input class="govuk-input" id="search" name="search" type="text" value="{{ filters.search }}">
                    </div>
                  </div>
                </div>

                <div class="govuk-form-group govuk-!-margin-bottom-2">
                  <div class="moj-filter-layout__content">
                    <button type="button" class="dfe-filter-collapsible-button moj-filter-toggle" aria-expanded="false" aria-controls="wcag-level-filter">
                      <svg class="moj-filter-toggle__icon" viewBox="0 0 20 20" height="10" width="10">
                        <path d="M0 0 L10 10 L20 0"></path>
                      </svg>
                      WCAG Level
                    </button>
                    {% if filters.wcag_level %}
                      <span class="moj-filter-toggle__count">1 selected</span>
                    {% endif %}
                    <div id="wcag-level-filter" hidden>
                      <div class="govuk-checkboxes govuk-checkboxes--small">
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="wcag_level_a" name="wcag_level" type="checkbox" value="A" {% if filters.wcag_level == "A" %}checked{% endif %}>
                          <label class="govuk-label govuk-checkboxes__label" for="wcag_level_a">
                            A
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="wcag_level_aa" name="wcag_level" type="checkbox" value="AA" {% if filters.wcag_level == "AA" %}checked{% endif %}>
                          <label class="govuk-label govuk-checkboxes__label" for="wcag_level_aa">
                            AA
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="wcag_level_aaa" name="wcag_level" type="checkbox" value="AAA" {% if filters.wcag_level == "AAA" %}checked{% endif %}>
                          <label class="govuk-label govuk-checkboxes__label" for="wcag_level_aaa">
                            AAA
                          </label>
                        </div>
                        <div class="govuk-checkboxes__item">
                          <input class="govuk-checkboxes__input" id="wcag_level_bp" name="wcag_level" type="checkbox" value="BP" {% if filters.wcag_level == "BP" %}checked{% endif %}>
                          <label class="govuk-label govuk-checkboxes__label" for="wcag_level_bp">
                            Best Practice
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="govuk-form-group govuk-!-margin-bottom-2">
                  <div class="moj-filter-layout__content">
                    <button type="button" class="dfe-filter-collapsible-button moj-filter-toggle" aria-expanded="false" aria-controls="service-filter">
                      <svg class="moj-filter-toggle__icon" viewBox="0 0 20 20" height="10" width="10">
                        <path d="M0 0 L10 10 L20 0"></path>
                      </svg>
                      Service
                    </button>
                    {% if filters.service_id %}
                      <span class="moj-filter-toggle__count">1 selected</span>
                    {% endif %}
                    <div id="service-filter" hidden>
                      <div class="govuk-checkboxes govuk-checkboxes--small" style="max-height: 200px; overflow-y: auto; overflow-x: hidden;">
                        {% for service in services %}
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="service_{{ service.id }}" name="service_id" type="checkbox" value="{{ service.id }}" {% if filters.service_id == service.id %}checked{% endif %}>
                            <label class="govuk-label govuk-checkboxes__label" for="service_{{ service.id }}">
                              {{ service.name }}
                            </label>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="govuk-form-group govuk-!-margin-top-2">
                  <div class="moj-filter__footer">
                    <button type="submit" class="govuk-button govuk-!-margin-bottom-1" data-module="govuk-button">
                      Apply filters
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>

      </div>

      <div class="govuk-grid-column-three-quarters">
        <div class="govuk-summary-card">
          <div class="govuk-summary-card__title-wrapper">
            <h2 class="govuk-summary-card__title">Overdue Issues</h2>
            <ul class="govuk-summary-card__actions">
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="/issues">Open issues</a>
      </li>
      <li class="govuk-summary-card__action">
        <a class="govuk-link" href="/issues/closed">Closed issues</a>
      </li>
    </ul>
          </div>
          <div class="govuk-summary-card__content">
            {% if issues.length > 0 %}
              <table class="govuk-table compact-table" id="issues-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Title</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Service</th>
                    <th scope="col" class="govuk-table__header">WCAG Level</th>
                    <th scope="col" class="govuk-table__header">Planned Fix Date</th>
                    <th scope="col" class="govuk-table__header">Days Overdue</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  {% for issue in issues %}
                    <tr class="govuk-table__row">
                      <th class="govuk-table__header">
                        <a href="/services/{{ issue.service_id }}/issues/{{ issue.id }}" class="govuk-link govuk-link--no-visited-state">{{ issue.title }}</a>
                      </th>
                      <td class="govuk-table__cell">
                        <a href="/services/{{ issue.service_id }}" class="govuk-link govuk-link--no-visited-state">{{ issue.service_name }}</a>
                      </td>
                      <td class="govuk-table__cell">
                        {{ issue.wcag_level }}
                      </td>
                      <td class="govuk-table__cell">
                        {{ issue.planned_fix_date | date('D MMM YYYY') }}
                      </td>
                      <td class="govuk-table__cell">
                        <strong class="govuk-tag govuk-tag--red">
                          {{ issue.days_overdue }} day{% if issue.days_overdue != 1 %}s{% endif %}
                        </strong>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <p class="govuk-body">No overdue issues found for the selected filters</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <style>
    .moj-filter-toggle {
      background: none;
      border: 0;
      color: #1d70b8;
      cursor: pointer;
      margin-bottom: 10px;
      padding: 0;
      position: relative;
      text-align: left;
      width: 100%;
      font-family: inherit;
      display: flex;
      align-items: center;
    }

    .moj-filter-toggle:hover {
      color: #003078;
    }

    .moj-filter-toggle:focus {
      outline: 3px solid transparent;
      color: #0b0c0c;
      background-color: #ffdd00;
      box-shadow: 0 -2px #ffdd00, 0 4px #0b0c0c;
      text-decoration: none;
    }

    .moj-filter-toggle__icon {
      margin-right: 10px;
      vertical-align: middle;
      transition: transform 0.3s ease;
    }

    .moj-filter-toggle[aria-expanded="false"] .moj-filter-toggle__icon {
      transform: rotate(-90deg);
    }

    .moj-filter-toggle__count {
      color: #505a5f;
      font-size: 16px;
      margin-left: 4px;
      display: block;
      margin-top: -5px;
      margin-bottom: 10px;
    }

    .moj-filter-layout__content {
      padding: 0;
    }

    .moj-filter-layout__content > div {
      margin-left: 15px;
    }

    [hidden] {
      display: none;
    }

    .dfe-filter-collapsible-button {
      margin-bottom: 16px;
      font-weight: normal;
      font-size: 1.188rem
    }
  </style>

  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const searchInput = document.getElementById('search');
      const table = document.getElementById('issues-table');
      const rows = table.getElementsByTagName('tr');

      searchInput.addEventListener('input', function() {
        const searchTerm = this.value.toLowerCase();
        
        for (let i = 1; i < rows.length; i++) {
          const row = rows[i];
          const cells = row.getElementsByTagName('td');
          let found = false;
          
          for (let j = 0; j < cells.length; j++) {
            const cell = cells[j];
            if (cell.textContent.toLowerCase().indexOf(searchTerm) > -1) {
              found = true;
              break;
            }
          }
          
          row.style.display = found ? '' : 'none';
        }
      });
    });

    document.addEventListener('DOMContentLoaded', function () {
      document
        .querySelectorAll('.moj-filter-toggle')
        .forEach(toggle => {
          const content = document.getElementById(toggle.getAttribute('aria-controls'));

          toggle.addEventListener('click', function () {
            const expanded = this.getAttribute('aria-expanded') === 'true';
            this.setAttribute('aria-expanded', !expanded);
            content.hidden = expanded;
          });
        });

      document.addEventListener('keydown', function (e) {
        if (e.key === 'Escape') {
          document
            .querySelectorAll('.moj-filter-toggle')
            .forEach(toggle => {
              toggle.setAttribute('aria-expanded', 'false');
              document
                .getElementById(toggle.getAttribute('aria-controls'))
                .hidden = true;
            });
        }
      });
    });
  </script>
{% endblock %} 