{% extends "layouts/layout_wide.html" %}

{% set mainClasses = "govuk-!-margin-top-0 govuk-!-margin-bottom-0 govuk-!-padding-top-0 govuk-!-padding-bottom-0" %}

{% set pageTitle = "Home" %}
{% set description = "A centralised service for managing accessibility issues and realtime accessibility statements." %}  

{% block content %}

  <section style="background-color:#ffffff;" class="govuk-!-padding-top-9 govuk-!-padding-bottom-7">
    <div class="govuk-width-container">
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h1 class="govuk-heading-xl govuk-!-font-size-80 govuk-!-margin-top-5" style="color: #003a69">Manage your accessibility issues and statements</h1>
          <p class="govuk-body-l">{{description}}</p>
        </div>
      </div>
    </div>
  </section>

{% endblock %}