{% extends "layouts/layout_wide.html" %}

{% set mainClasses = 'govuk-!-padding-top-0' %}
{% set pageTitle = "Support" %}
{% set serviceNav = "Support" %}

{% block pageTitle %}
  Support
{% endblock %}

{% block content %}

{% include "layouts/_pageheader.html" %}

  <div class="govuk-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">


      {% if isSuperUser %}
        <div class="govuk-inset-text">
          <p class="govuk-body">As a super user, you have access to all departments and services in the system.</p>
          <p class="govuk-body">If you need support, please contact the <a href="mailto:design.ops@education.gov.uk" class="govuk-link govuk-link--no-visited-state">DfE DesignOps team</a>.</p>
        </div>
      {% else %}
        <h2 class="govuk-heading-m">Your department admins</h2>
        {% if departmentAdmins.length > 0 %}
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">Name</th>
                <th scope="col" class="govuk-table__header">Email address</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              {% for admin in departmentAdmins %}
                <tr class="govuk-table__row">
                  <th class="govuk-table__header">{{ admin.first_name }} {{ admin.last_name }}</th>
                  <td class="govuk-table__cell">
                    <a href="mailto:{{ admin.email }}" class="govuk-link govuk-link--no-visited-state">{{ admin.email }}</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p class="govuk-body">No department admins found. Please contact your system administrator.</p>
        {% endif %}
      {% endif %}

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Helpful links</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="/services" class="govuk-link govuk-link--no-visited-state">View your services</a></li>
        <li><a href="https://www.gov.uk/guidance/accessibility-requirements-for-public-sector-websites-and-apps" class="govuk-link govuk-link--no-visited-state" target="_blank">Accessibility requirements guidance (opens in new tab)</a></li>
        <li><a href="https://www.w3.org/WAI/standards-guidelines/wcag/" class="govuk-link govuk-link--no-visited-state" target="_blank">WCAG guidelines (opens in new tab)</a></li>
      </ul>

      <h2 class="govuk-heading-m govuk-!-margin-top-6">Need more help?</h2>
      {% if isSuperUser %}
        <p class="govuk-body">If you need additional support, please contact the system administrator.</p>
      {% else %}
        <p class="govuk-body">If you need additional support, please contact one of your department admins using the email addresses above.</p>
      {% endif %}
    </div>
  </div>
{% endblock %} 